<%- include('./partials/head.ejs') %>
<body>

    <div class="container">

        <% if(error && error !="") {%>
            <div class="alerts alertDanger">
                <h1><i class="ri-emotion-unhappy-line"></i></h1>
                <p><%= error %></p>
            </div>
         <% } %>

        <div class="login_card">
            <div class="left_login">
            </div>
            <div class="right_login">
                <div class="section_title title_login">
                    <h1>Connexion</h1>
                </div>

                <form class="loginForm" action="/login" method="POST">
                    <div class="formSection"> 
                       <div class="row">
                        
                        <% if(field && field !="") {%>
                            <input class="ipt" id="email" type="email" value=" <%=field[0] %>" name="email" required>
                         <% } else{ %> 
                            <input class="ipt" id="email" type="email" placeholder="email" name="email" required>
                        <% } %>

                       </div>
                    </div>
        
                    <div class="formSection">
                       <div class="row"> 
                            <% if(field && field !="") {%>
                                <input class="ipt" id="password" type="password" value="<%=field[1]%>" name="password" required>
                                <i class="ri-eye-off-fill"></i>
                             <% } else{ %> 
                                <input class="ipt" id="password" type="password" placeholder="password" name="password" required>
                            <% } %>
                       </div>
                    </div>
        
                    <div class="row">
                        <button type="submit" name ="submit"  class="btn btn-danger btn2">Connexion</button>
                    </div>
                   
                </form>

                <div class="loginLink">
                    <a href="/singin">M'inscrire</a>
                    <a href="/">ACCUEIL</a>
                </div>
            </div>
        </div>

    </div>
    <script src="/js/app.js"></script>
</body>
</html>